<% include ../partials/header %>


            <form class="measure center" action="/blog/<%= blog._id %>/comments" method="POST">
                <legend class="f4 fw6 ph0 mh0">Add Comment to <%= blog.name %></legend>
                <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
                    <div class="mt3">
                        <label class="db fw6 lh-copy f6" for="email-address">Text</label>
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                </fieldset>
                <button class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib">Post!</button>
                <a class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" href="/blog">Go Back</a>
            </form>

<% include ../partials/footer %>



