<% include partials/header %>

<section class="articles">
    <div class="column is-8 is-offset-2">
        <section class="hero is-danger is-bold is-small promo-block">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Welcome to the blog!
                    </h1>
                    <h2 class="subtitle">
                        A simple blog made in ExpressJS.
                    </h2>
                </div>
            </div>
        </section>
        <div class="card article">
            <div class="card-content">
                <div class="media">
                    <div class="media-content has-text-centered" style="overflow: hidden;">
                        <p class="title article-title"><a href="/blog" role="button" style="line-height: 1.5">Show all Blogposts</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>